<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title><%= @title %></title>
</head>
<body>
  <%= yield %>
  <p>
    <% @data.reverse.each do |tsubuyaki| %>
    <%= tsubuyaki %>
    <% end %>
  </p>
</body>
</html>
