<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title><%= @title %></title>

    <!-- Bootstrap -->
    <link href="/vender/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="vender/sticky-footer-navbar.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class=text-center>
      <h1>(՞ةڼ◔)    ユーザー登録ページ    (՞ةڼ◔)</h1>

      <dl>
        <legend>登録について</legend>
        <dt>注意事項</dt>
        <dd>下のフォームに使用したいユーザーIDとユーザー名を入れてください。</dd>
        <dd>既に登録されているユーザーIDは使用出来ません。</dd>
        <dd>ユーザーIDは15文字まで、ユーザー名は20文字までです。</dd>
      </dl>

      <!--登録フォーム-->
      <form method="post" action="/user/create">
        <fieldset>
          <legend>入力項目</legend>
          <dl>
            <dd>どちらも入力は必須項目です。</dd>
          </dl>
          <div class=”control-group”>
            <input type="text" class=”form-control” id=”inputId″ placeholder="User ID" maxlength="15" name="userid" required>
            <input type="text" class=”form-control” id=”inputName″ placeholder="User Name" maxlength="20" name="username" required>
            <input type="submit" class="btn btn-default" name="register" value = "Register!">
          </div>
        </fieldset>
      </form>

      <!--フッター-->
      <footer class="footer">
        <div class="container">
          <br>
          <a href="/">HOME</a>
        </div>
      </footer>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/vender/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
