<!DOCTYPE html>
<html>
	<head>

	</head>
	<body>
		<form method="POST" action="/home/post">
			<div>
				<textarea name="msg" cols=40 rows=4></textarea>
			</div>
			<input type="submit" value="送信">
		</form>


  </body>
</html>
